<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AngelControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AngelControl.Properties.Settings>
            <setting name="RfidBaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="RfidDataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="RfidReadTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RfidWriteTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RfidHandshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="RfidParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="RfidStopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="RfidPortName" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="SshIp" serializeAs="String">
                <value />
            </setting>
            <setting name="SshLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="SshPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseServer" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasePort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DatabaseUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="SshBoundHost" serializeAs="String">
                <value />
            </setting>
            <setting name="SshBoundPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SshHost" serializeAs="String">
                <value />
            </setting>
            <setting name="SshPort" serializeAs="String">
                <value>0</value>
            </setting>
        </AngelControl.Properties.Settings>
    </userSettings>
</configuration>