<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AngelControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AngelControl.Properties.Settings>
            <setting name="RS232PortName" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="RS232BaudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="RS232DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="RS232Handshake" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="RS232Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="RS232StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="RS232ReadTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RS232WriteTimeout" serializeAs="String">
                <value>1000</value>
            </setting>
        </AngelControl.Properties.Settings>
    </userSettings>
</configuration>